@import url('https://fonts.googleapis.com/css2?family=Roboto:wght@400;700&display=swap');

* {
box-sizing: border-box;
}

body {
  font-family: 'Roboto', sans-serif;
  display: flex;
  flex-direction: column;
  align-items: center;
  justify-content: center;
  margin: 0;
  overflow-x: hidden;
}

h1 {
  margin: 10px;
}

.img {
  color: #fff;
  display: flex;
  align-items: center;
  justify-content: center;
  width: 400px;
  height:300px;
  margin: 10px;
  border-radius: 10px;
  img-shadow: 2px 4px 5px rgba(0, 0, 0, 0.3); 
  transform: translateX(400%); 
  transition: transform 0.4s ease;
}

.img:nth-of-type(even) {
  transform: translateX(-400%);
}

.img.show {
  transform: translateX(0);
}

.img h2 {
  font-size: 45px;
}
img {
  position: relative;
   width: 250px; 
   height: 250px; 
   overflow: hidden; 
   border-radius: 50%;
   /* width: 100%; */
    /* height: auto;  */
}
